* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: #333;
}


#Title {
  text-align: center;
  font-size: 3em;
  margin-top: 1em;
}

#Titlepart {
  color: #ff4a22;
}

#main_div {
  margin: 2em auto;
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#Emailplace,
#passplace {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#forgot {
  color: #ff4a22;
  text-align: right;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

#button {
  background-color: #ff4a22;
  color: #fff;
  border: none;
  padding: 1em;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2em;
  cursor: pointer;
}

#second_div {
  display: flex;
  margin: 30px auto;
  width: 350px;
  text-align: center;
  background-color: #ff4a22;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
}

#second_div h2 {
  margin: 0;
  font-size: 36px;
}

.fa-cake-candles {
  font-size: 33px;
  margin: 0 auto;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 767px) {
  #Title {
    font-size: 32px;
    margin: 20px 0;
  }

  #main_div {
    padding: 10px;
  }

  #br1,
  #br2,
  #br3 {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #main_div {
    max-width: 600px;
  }
}

@media only screen and (min-width: 1024px) {
  #main_div {
    max-width: 800px;
  }
}
